# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries by Data Scientists
* List development environment open source tools used in Data Science
* Show examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala
5. Java
6. C++
7. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. Seaborn
6. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| Google Colab       |
| R Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

## Author
Patr√≠cia Machado